body {
    font-family: 'Poppins', sans-serif;
    background-color: #EDEDED;
}

.input-field {
    width: 80%;
    background-color: #EDEDED;
    padding: 12px;
    border-radius: 6px;
    outline: none;
    margin-bottom: 6px;
    font-size: 14px;
    transition: all 0.2s;
    border: 1px solid transparent; 
}

    .input-field:focus {
        background-color: #fff;
        box-shadow: 0 0 0 2px #2F374C33;
    }

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-error {
    border: 2px solid #e53935 !important;
    background-color: #ffebee !important;
    box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.2);
}

.input-normal {
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.input-normal:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #2F374C33;
    border-color: #2F374C;
}