body {
    font-family: 'Poppins', sans-serif;
    background-color: #EDEDED;
}

.input-field {
    width: 80%;
    background-color: #EDEDED;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-bottom: 18px;
    font-size: 14px;
    transition: all 0.2s;
}

    .input-field:focus {
        background-color: #fff;
        box-shadow: 0 0 0 2px #2F374C33;
    }

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
